.app {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__calc {
  position: relative;
  left: 8rem;
  padding: 6rem;
  min-width: 40%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 8px 8px 10px rgb(224, 218, 218);
  background: linear-gradient(-60deg, #e06f3a, #248d5c, #bd4040, #44bccc);
  background-size: 400% 500%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app__calc:hover {
  border: 2px solid white;
  box-shadow: rgb(58, 57, 57);
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.app__result {
  padding-left: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20vh;
}
.bmi {
  font-size: 3rem;
  margin: auto auto 0;
}

.result {
  font-size: 2rem;
  display: block;
  margin: 0 auto auto;
}
